openapi: 3.2.0
info:
  title: NavigaTUM Status API
  description: 'Navigating around TUM with excellence – An API to search for rooms,

    buildings and other places


    NavigaTUM is a tool developed by students for students, to help you get around at TUM.'
  termsOfService: https://nav.tum.de/en/about/privacy
  contact:
    name: OpenSource @ TUM e.V.
    url: https://tum.dev/
    email: navigatum@tum.de
  license:
    name: GPL v3
    url: https://www.gnu.org/licenses/
  version: 0.0.0
  x-logo:
    altText: null
    backgroundColor: null
    href: https://nav.tum.de
    url: https://raw.githubusercontent.com/TUM-Dev/NavigaTUM/refs/heads/main/webclient/app/assets/logos/navigatum.svg
servers:
- url: https://nav.tum.de
  description: production
tags:
- name: Status
paths:
  /api/status:
    get:
      summary: API healthcheck
      description: 'If this endpoint does not return 200, the API is experiencing a catastrophic outage.

        **Should never happen.**'
      operationId: health_status_handler
      responses:
        '200':
          description: API is **healthy**
          content:
            text/plain:
              schema:
                type: string
              example: 'healthy

                source_code: https://github.com/TUM-Dev/navigatum/tree/{hash}'
        '503':
          description: API is **NOT healthy**
          content:
            text/plain:
              schema:
                type: string
              example: 'unhealthy

                source_code: https://github.com/TUM-Dev/navigatum/tree/{hash}'
      tags:
      - Status
externalDocs:
  url: https://github.com/TUM-Dev/navigatum
  description: Visit our GitHub Page for more in-depth documentation
